altgraph==0.16.1
astroid==2.3.3
autopep8==1.4.4
colorama==0.4.3
future==0.18.2
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pefile==2019.4.18
pycodestyle==2.5.0
PyInstaller==3.5
pylint==2.4.4
pypiwin32==223
pywin32==227
pywin32-ctypes==0.2.0
six==1.13.0
typed-ast==1.4.0
winshell==0.6
wrapt==1.11.2
